interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2021-06-07&endtime=2021-07-07&minmagnitude=5&orderby=time
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"metadata\":{\"generated\":1666178697000,\"url\":\"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2021-06-07&endtime=2021-07-07&minmagnitude=5&orderby=time\",\"title\":\"USGS
        Earthquakes\",\"status\":200,\"api\":\"1.13.6\",\"count\":100},\"features\":[{\"type\":\"Feature\",\"properties\":{\"mag\":5,\"place\":\"101
        km S of Merizo Village, Guam\",\"time\":1625609877735,\"updated\":1657146490297,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/us7000ej7z\",\"detail\":\"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us7000ej7z&format=geojson\",\"felt\":1,\"cdi\":1,\"mmi\":null,\"alert\":null,\"status\":\"reviewed\",\"tsunami\":0,\"sig\":385,\"net\":\"us\",\"code\":\"7000ej7z\",\"ids\":\",us7000ej7z,\",\"sources\":\",us,\",\"types\":\",dyfi,oaf,origin,phase-data,\",\"nst\":null,\"dmin\":1.27,\"rms\":0.92,\"gap\":46,\"magType\":\"mb\",\"type\":\"earthquake\",\"title\":\"M
        5.0 - 101 km S of Merizo Village, Guam\"},\"geometry\":{\"type\":\"Point\",\"coordinates\":[144.5229,12.3566,10]},\"id\":\"us7000ej7z\"},\n{\"type\":\"Feature\",\"properties\":{\"mag\":5.17,\"place\":\"12
        km NNW of Kukuihaele, Hawaii\",\"time\":1625528615300,\"updated\":1653219207199,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/hv72565662\",\"detail\":\"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=hv72565662&format=geojson\",\"felt\":1335,\"cdi\":4.9,\"mmi\":5.295,\"alert\":\"green\",\"status\":\"reviewed\",\"tsunami\":0,\"sig\":901,\"net\":\"hv\",\"code\":\"72565662\[...]
